:root {
  --bg-color: white;
  --nav-font-color: black;
  --font-color: black;
  --nav-bg-color: #dbdbdb;
  --icon-color: black;
  --border-color: black;
  --state-1-color: #ed1c24;
  --state-2-color: #2e3192;
  --state-3-color: #9e005d;
  --state-4-color: #009245;
  --state-fill-color: black;
  --state-stroke-color: black;
  --active-color: var(--state-4-color);
}

body {
  background-color: var(--bg-color);
  font-family: monospace;
  font-size: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--active-color);
  cursor: pointer;
}

button {
  border: 4px solid black;
  background-color: white;
}

button:hover {
  background-color: var(--active-color);
  cursor: pointer;
}

/* NAV */
.navbar {
  background-color: var(--nav-bg-color);
  border: 4px solid var(--border-color);
  height: 4rem;
  display: flex;
  align-items: center;
}

/* .navbar-toggler {
  border: 4px solid black;
  font-size: 3rem;
  display: none;
} */

/* .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
} */


.navbar-brand {
  /* padding: 0; */
  margin-left: 2rem;
  margin-right: auto;
  font-size: 2rem;
  font-weight: bold;
}

.navbar-menu {
  margin-right: 2rem;
  /* padding: 0; */
  /* list-style: none; */
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-link {
  font-size: 2rem;
  font-weight: bold;
}

.dropdown-toggle {
  font-size: 2rem;
  font-family: monospace;
  font-weight: bold;;
}

/* .dropdown-icon {
  transform:rotate(90deg)
} */

.rotate {
  transform:rotate(270deg)
}

.dropdown-menu {
  display: none;
  border: 4px solid black;
  background-color: var(--bg-color);
  position: absolute;
  top: 5rem;
  right: 0;
  height: 10rem;
  min-width: 20rem;
}

.show {
  height: 30rem;
  overflow-y: scroll;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.page-content {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 1rem;
}

/* SVG */
.space-map {
  display: flex;
  align-items: center;
  justify-content: center;
}

#us-map {
  width: 80rem;
}

/* SVG Paths */
.cls-1,
.cls-2,
.cls-3,
.cls-4 {
  stroke: var(--state-stroke-color);
  stroke-miterlimit: 50;
  pointer-events: visibleFill;
}

.cls-1:hover,
.cls-2:hover,
.cls-3:hover,
.cls-4:hover {
  fill: var(--state-fill-color);
  cursor: pointer;
}

.cls-1 {
  fill: var(--state-1-color);
}

.cls-2 {
  fill: var(--state-2-color);
}

.cls-3 {
  fill: var(--state-3-color);
}

.cls-4 {
  fill: var(--state-4-color);
}

/* MAKERSPACE LIST */
#list-title {
  color: var(--font-color);
  text-align: center;
  font-size: 2rem;
}

#list-content {
  width: 80vw;
  margin: auto;
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.list-row {
  /* border: 2px solid green; */
  width: 100%;
}

.name {
  font-weight: bold;
  color: var(--state-3-color);
  font-size: 1.6rem;
}

.snippet {
  font-weight: bold;
  color: var(--font-color);
  font-size: 1.2rem;
}

.link {
  color: var(--state-2-color);
  word-wrap: break-word;
  font-size: 1.2rem;
}

/* ABOUT PAGE */
.about-text {
  width: 50rem;
  margin: auto;
  padding: 1rem;
  font-size: 1.6rem;
}

.about-link {
  margin: auto;
  font-size: 4rem;
}

/* CONTACT PAGE */
.contact-text {
  width: 50rem;
  margin: auto;
  padding: 1rem;
  font-size: 1.6rem;
}

.contact-form {
  margin: auto;
  margin-top: 4rem;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form .form-row {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  border: 2px solid black;
  font-size: 2rem;
  width: 30rem;
}

.contact-form input:hover,
.contact-form textarea:hover {
  border: 2px solid var(--active-color);
}

.contact-form button {
  font-size: 2rem;
  width: 16rem;
  margin: auto;
}